@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
        *{
            margin: 0;
            padding: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display', serif;
        }

        p,
        a {
            font-family: 'Source Sans Pro', sans-serif;
            text-decoration: none;
            color: white;
            background-color: goldenrod;
        }
        ul{
            list-style: none;
        }
        .wrapper{
            width: 170vw;
        }
        .hero{
            position: relative;

        }
        .hero h1{

        }
        footer{
            
        }